.container {
  padding: 0 2rem;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.title {
  margin: 0;
  font-size: 4rem;
}

.subtitle {
  margin: 2rem 0;
  font-size: 1.8rem;
}

.description {
  margin: 4rem 0 3rem 0;
  max-width: 600px;
}

.description > p {
  font-weight: 300;
  font-size: 1.5rem;
}

.description .emphasis {
  font-weight: bold;
}

.callToAction p {
  font-size: 1.8rem;
}